// .header {
//     padding: 1rem 0 3rem;
// }

// .title {
//     color: #000000;
//     font-size: 3rem;
//     text-decoration: none;
//     h1 {
//         margin-bottom: 0.3rem;
//     }
// }

// .nav-list {
//     display: flex;
//     list-style-type: none;
//     margin: 0;
// }

// .nav-item {
//     color: #ffffff;
//     font-size: 0.9rem;
//     margin-right: 1.3rem;
//     text-decoration: none;
// }
// .nav-item:hover {
//     color: #aaaaaa;
// }
// .active-nav-item {
//     color: #999999;
// }

// .link {
//     color: #9999;
// }

header {
    font-family: sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: rgb(255, 255, 255);
    width: 100%;
    box-sizing: border-box;

    .logo {
        a {
            color: #262626;
            height: 50px;
            line-height: 50px;
            font-size: 24px;
            float: left;
            font-weight: bold;
            text-decoration: none;
        }
    }

    nav {
        float: right;
        ul {
            margin: 0;
            padding: 0;
            display: flex;

            li {
                margin-bottom: 0;
                list-style-type: none;
                a {
                    height: 50px;
                    line-height: 50px;
                    padding: 0 20px;
                    color: #262626;
                    text-decoration: none;
                    display: block;
                }
                a:hover,
                .active-nav-item {
                    color: #262626;
                    background: #ffffff;
                    font-weight: bold;
                }
            }
        }
    }
}

.menu-toggle {
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
    img {
        width: 26px;
        margin-bottom: -6px;
    }
}

@media (max-width: 1180px) {
    header {
        padding: 0 20px;
    }

    header nav {
        display: none;
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: rgb(255, 255, 255);
        top: 50px;
        right: -100%;
        // transition: 0.5s;
        // animation: slide-in 0.5s forwards;

        ul {
            display: block;
            text-align: center;
            padding-top: 100px;
            li {
                a {
                    height: 55px;
                    font-size: 27px;
                    // border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                }
            }
        }
    }

    header nav.active-navbar {
        right: 0;
        display: block;
    }

    .menu-toggle {
        display: block;
    }
}
