@import 'base.module';

.disableScroll {
    overflow-y: hidden;
}

header {
    z-index: 10;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: #ffffff;
    width: 100%;
    box-sizing: border-box;

    .logo img {
        position: absolute;
        width: 240px;
        float: left;
        padding-top: 4px;
    }

    nav {
        float: right;
        ul {
            margin: 0;
            padding: 0;
            display: flex;

            li {
                margin-bottom: 0;
                list-style-type: none;
                text-align: center;
                position: relative;

                a {
                    height: 60px;
                    line-height: 60px;
                    padding: 0 20px 0 0;
                    color: #353535;
                    text-decoration: none;
                    display: block;
                    cursor: pointer;
                }

                a:hover,
                .active-nav-item {
                    color: #353535;
                    // background: #ffffff;
                    font-weight: bold;
                }

                ul {
                    position: absolute;
                    background: #ffffff;
                    left: 0;
                    display: none;
                    border: 1px solid #999;
                    animation: fade-in 0.6s;

                    li {
                        display: block;
                        width: 220px;
                        a {
                            height: 45px;
                            line-height: 45px;
                        }
                    }
                }
            }
            // li size = text on hover
            li:nth-child(1) a {
                width: 73px;
            }
            li:nth-child(2) a {
                width: 166px;
            }
            li:nth-child(3) a {
                width: 64px;
            }
            li:nth-child(4) a {
                width: 66px;
                padding: 0;
            }
        }
    }
}

.menu-toggle {
    position: relative;
    top: 22px;
    float: right;
    line-height: 50px;
    font-size: 24px;
    // cursor: pointer;
    display: none;

    img {
        width: 24px;
        margin-top: 2px;
        margin-right: 7px;
    }
}
@media (max-width: $media-medium-desktop) {
    header {
        padding: 0 50px;
    }
}
@media (max-width: $media-small-desktop) {
    header {
        padding: 0 20px;
    }
}
@media (max-width: $media-large) {
    header {
        position: absolute;
        font-size: 1rem;

        nav {
            // display: none;
            position: absolute;
            width: 100%;
            height: calc(
                100vh - 57px
            ); // fixme: why 58px not covers the bottom of page??
            background: rgb(255, 255, 255);
            top: 58px;
            left: 0;
            // right: -100%;
            // transition: 0.5s;
            // animation: slide-in 0.5s forwards;

            ul {
                display: block;
                text-align: left;
                padding-top: 145px;
                padding-left: 60px;

                li {
                    text-align: left;
                    a {
                        opacity: 0;
                        height: 55px;
                        font-size: 27px;
                        padding: 0;
                        display: inline-block;
                        cursor: default;
                        // border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                    }

                    a:hover,
                    .active-nav-item {
                        font-weight: inherit;
                    }

                    &.active-parent-item ul {
                        display: block;

                        li a {
                            font-weight: 100;
                        }
                    }

                    // submenu
                    &.active-parent-item ul {
                        position: relative;
                    }
                    ul {
                        padding-top: 0;
                        padding-left: 0;
                        border: none;
                        li {
                            width: 100%;

                            a {
                                font-size: 21px;
                                font-weight: 100;
                            }
                        }
                    }
                }

                // arrow
                li a.sub-menu:before {
                    // content: '\23F7';
                    // content: '\25BE';
                    position: absolute;
                    content: '\002B';
                    left: -25px;
                }
                li.active-parent-item a.sub-menu:before {
                    // content: '\23F6';
                    // content: '\25B4';
                    content: '\002D';
                    left: -22px;
                }
            }
        }

        nav.active-navbar {
            // right: 0;
            // display: block;

            visibility: visible;
            opacity: 1;

            // fading in the menu
            @include transition(opacity 0.3s);

            // animtaion for menu items
            li:nth-child(1) a,
            li:nth-child(2) a,
            li:nth-child(3) a,
            li:nth-child(4) a {
                // li:nth-child(5) a {
                width: 100%;
                opacity: 1;
                @include transition(opacity 0s 0.5s);
            }
            li:nth-child(1) a {
                animation: fade-in-from-bottom 0.5s;
            }
            li:nth-child(2) a {
                animation: fade-in-from-bottom 0.5s 0.1s;
            }
            li:nth-child(3) a {
                animation: fade-in-from-bottom 0.5s 0.2s;
            }
            li:nth-child(4) a {
                animation: fade-in-from-bottom 0.5s 0.3s;
            }
            // li:nth-child(5) a {
            //     animation: fade-in-from-bottom 0.5s 0.4s;
            // }

            // submenu
            li ul li:nth-child(1) a,
            li ul li:nth-child(2) a,
            li ul li:nth-child(3) a,
            li ul li:nth-child(4) a,
            li ul li:nth-child(5) a {
                animation: fade-in 0.3s;
            }
        }

        nav.inactive-navbar {
            visibility: hidden;
            opacity: 0;

            @include transition((visibility 0s 0.3s, opacity 0.3s));
        }

        .logo img {
            padding-top: 12px;
        }
    }

    .menu-toggle {
        display: block;
    }

    .menu-toggle.inactive-navbar {
        .menu-icon {
            display: block;
            animation: fade-in 0.3s;
        }
        .x-icon {
            display: none;
        }
    }

    .menu-toggle.active-navbar {
        .menu-icon {
            display: none;
        }
        .x-icon {
            display: block;
            animation: fade-in 0.5s;
        }
    }
}

// OLD styles

// .header {
//     padding: 1rem 0 3rem;
// }

// .title {
//     color: #000000;
//     font-size: 3rem;
//     text-decoration: none;
//     h1 {
//         margin-bottom: 0.3rem;
//     }
// }

// .nav-list {
//     display: flex;
//     list-style-type: none;
//     margin: 0;
// }

// .nav-item {
//     color: #ffffff;
//     font-size: 0.9rem;
//     margin-right: 1.3rem;
//     text-decoration: none;
//     display: inline-block;
// }
// .nav-item:hover {
//     color: #aaaaaa;
// }
// .active-nav-item {
//     color: #999999;
// }

// .link {
//     color: #9999;
// }
