@import 'base';

.disableScroll {
    overflow-y: hidden;
}

header {
    z-index: 10;
    font-family: acumin-pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: #ffffff;
    width: 100%;
    box-sizing: border-box;

    .logo img {
        position: absolute;
        width: 240px;
        float: left;
    }

    nav {
        float: right;
        ul {
            margin: 0;
            padding: 0;
            display: flex;

            li {
                margin-bottom: 0;
                list-style-type: none;
                text-align: left;

                a {
                    height: 50px;
                    line-height: 50px;
                    padding: 0 20px;
                    color: #262626;
                    text-decoration: none;
                    display: block;
                }

                a:hover,
                .active-nav-item {
                    color: #262626;
                    background: #ffffff;
                    font-weight: bold;
                }
            }
        }
    }
}

.menu-toggle {
    position: relative;
    top: 22px;
    float: right;
    line-height: 50px;
    font-size: 24px;
    // cursor: pointer;
    display: none;

    img {
        width: 24px;
        margin-top: 2px;
        margin-right: 7px;
    }
}

@media (max-width: $media-large) {
    header {
        padding: 0 20px;
        position: absolute;

        nav {
            // display: none;
            position: absolute;
            width: 100%;
            height: calc(
                100vh - 57px
            ); // fixme: why 58px not covers the bottom of page??
            background: rgb(255, 255, 255);
            top: 58px;
            left: 0;
            // right: -100%;
            // transition: 0.5s;
            // animation: slide-in 0.5s forwards;

            ul {
                display: block;
                text-align: left;
                padding-top: 145px;
                padding-left: 60px;

                li a {
                    opacity: 0;
                    height: 55px;
                    font-size: 27px;
                    padding: 0;
                    display: inline-block;
                    cursor: default;
                    // border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                }
            }
        }

        nav.active-navbar {
            // right: 0;
            // display: block;

            visibility: visible;
            opacity: 1;

            // fading in the menu
            @include transition(opacity 0.3s);

            // animtaion for menu items
            li:nth-child(1) a,
            li:nth-child(2) a,
            li:nth-child(3) a,
            li:nth-child(4) a {
                opacity: 1;
                @include transition(opacity 0s 0.5s);
            }
            li:nth-child(1) a {
                animation: fade-in-from-bottom 0.5s;
            }
            li:nth-child(2) a {
                animation: fade-in-from-bottom 0.5s 0.1s;
            }
            li:nth-child(3) a {
                animation: fade-in-from-bottom 0.5s 0.2s;
            }
            li:nth-child(4) a {
                animation: fade-in-from-bottom 0.5s 0.3s;
            }
        }

        nav.inactive-navbar {
            visibility: hidden;
            opacity: 0;

            @include transition((visibility 0s 0.3s, opacity 0.3s));
        }

        .logo img {
            padding-top: 8px;
        }
    }

    .menu-toggle {
        display: block;
    }

    .menu-toggle.inactive-navbar {
        .menu-icon {
            display: block;
            animation: fade-in 0.3s;
        }
        .x-icon {
            display: none;
        }
    }

    .menu-toggle.active-navbar {
        .menu-icon {
            display: none;
        }
        .x-icon {
            display: block;
            animation: fade-in 0.5s;
        }
    }

    // menu fade animation
    @include keyframes(fade-in) {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

// OLD styles

// .header {
//     padding: 1rem 0 3rem;
// }

// .title {
//     color: #000000;
//     font-size: 3rem;
//     text-decoration: none;
//     h1 {
//         margin-bottom: 0.3rem;
//     }
// }

// .nav-list {
//     display: flex;
//     list-style-type: none;
//     margin: 0;
// }

// .nav-item {
//     color: #ffffff;
//     font-size: 0.9rem;
//     margin-right: 1.3rem;
//     text-decoration: none;
//     display: inline-block;
// }
// .nav-item:hover {
//     color: #aaaaaa;
// }
// .active-nav-item {
//     color: #999999;
// }

// .link {
//     color: #9999;
// }
