@import 'base.module';

.container {
    max-width: 37.5rem;
    margin: 0 auto;
}

.home-description {
    opacity: 1;
    max-width: 26rem;
    font-size: 1.2rem;
    font-weight: bold;
    animation: fade-in-from-bottom 1s;
}

@media (max-width: 550px) {
    .home-description {
        max-width: 20rem;
    }
}
