@import 'base';

.caption {
    opacity: 0.9;
    font-weight: 300;
    line-height: 1.5em;
    font-size: 0.85em;
    color: grey;
    margin-top: -1rem;
    margin-bottom: 1.45rem;
    @include user-select(none);
}

.divider {
    padding-bottom: 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}

.divider.gif {
    margin-top: 0.55rem;
}

.fade {
    animation: fade-in-from-bottom 1s;
}

// not in use

// .wrapper {
//     padding-bottom: 3rem;
// }

// .divider {
//     border-top: 1px solid rgba(0, 0, 0, 0.1);

//     position: relative;
//     margin-top: 3rem;
//     height: 1px;
// }

// .div-transparent:before {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 5%;
//     right: 5%;
//     width: 90%;
//     height: 1px;
//     background-image: linear-gradient(
//         to right,
//         transparent,
//         rgb(48, 49, 51),
//         transparent
//     );
// }
