@import 'base';

.caption {
    opacity: 0.9;
    font-weight: 300;
    line-height: 1.5em;
    font-size: 0.85em;
    color: grey;
    margin-top: -1rem;
    margin-bottom: 1.45rem;
    @include user-select(none);
}

// .divider {
//     padding-bottom: 2rem;
//     border-top: 1px solid rgba(0, 0, 0, 0.1);
//     margin-top: 2rem;
// }

// .divider.gif {
//     margin-top: 0.55rem;
// }

.fade {
    animation: fade-in-from-bottom 1s;
}

.section {
    display: block;
    position: relative;

    // padding-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.title {
    animation: fade-in-from-bottom 1s;
}
.section-content {
    animation: fade-in 1s;
}

// table of contents
.table-of-contents {
    margin-left: 5rem;
    max-width: 18rem;
    // position: -webkit-sticky;
    // position: sticky;
    // top: 7rem;
    // max-height: 12rem;
    overflow: auto;

    // new start
    display: block;
    top: 7.2rem;
    left: 51px;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    @include transition(
        (visibility 0s 0.3s, top 0s 0.3s, left 0s 0.3s, opacity 0.3s)
    );
    // new end

    ul {
        margin-left: 0;

        li {
            // margin-bottom: 0;
            list-style-type: none;
            text-align: left;

            a {
                // color: #262626;
                color: grey;
                text-decoration: none;
                cursor: pointer;
                font-weight: lighter;
            }
            a:hover,
            a.active-item {
                color: #606060;
                font-weight: normal;
            }
        }
    }
}

.table-of-contents-title {
    font-size: 1rem;
    top: 7rem;
    // left: 8rem;
    position: fixed;
    // max-height: 12rem;
    color: #606060;
    // font-weight: 500;
}

@media (min-width: 1210px) {
    .table-of-contents {
        left: -29px;
    }

    .smooth-scroll {
        scroll-behavior: smooth;
    }
    // html:not([data-scroll='0'])
    .table-of-contents.active {
        top: 9.35rem;
        opacity: 1;
        visibility: visible;
        // transition: all 0.4s 0.15s;
        transition: all 0.5s;
    }
    .table-of-contents-title.active,
    .table-of-contents.active {
        display: block;
        animation: fade-in 0.5s;
    }
}
@media (min-width: $media-small-desktop) {
    .table-of-contents {
        left: 1px;
    }
}
@media (min-width: $media-medium-desktop) {
    .table-of-contents {
        left: 51px;
    }
}

// TODO: video animation
// .video {
//     // animation: fade-in 0.7s ease 0.3s;
//     // animation: fade-in 2s ease 1s;

//     opacity: 0;
//     // // // fading in the menu
//     // // @include transition(opacity 0s 3s);

//     // width: 100%;
//     // height: auto;

//     // opacity: 0;
//     // transition: 3s opacity 3s;
//     // @include transition(opacity 2s 1s);
//     // animation: fade-in 2s ease 1s;

//     // -webkit-transition: 0.75s all 0.3s;
// }
// iframe.video {
//     // // animation: fade-in 0.7s ease 0.3s;

//     opacity: 1;

//     // // fading in the menu
//     @include transition(opacity 4s 4s);

//     // opacity: 1;
//     // height: 100%;
//     // border: none;
// }

// old

// .pull-down {
//     padding-top: 100px;
//     margin-top: -100px !important;
// }

// not in use

// .wrapper {
//     padding-bottom: 3rem;
// }

// .divider {
//     border-top: 1px solid rgba(0, 0, 0, 0.1);

//     position: relative;
//     margin-top: 3rem;
//     height: 1px;
// }

// .div-transparent:before {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 5%;
//     right: 5%;
//     width: 90%;
//     height: 1px;
//     background-image: linear-gradient(
//         to right,
//         transparent,
//         rgb(48, 49, 51),
//         transparent
//     );
// }
